###############################
# SOLO SUBIR CÓDIGO FUENTE   #
# .py y .swift               #
###############################

# Ignorar todo por defecto
/*

# Permitir carpetas de código
!backend/
!ios-app/

# Permitir solo archivos .py en backend
backend/**/*.py

# Permitir solo archivos .swift en ios-app
ios-app/**/*.swift

# Ignorar entornos virtuales y dependencias
backend/AyeRecipes/

# Ignorar recursos y assets
assets/
ios-app/AyeRecipes/Assets.xcassets/

# Ignorar archivos de proyecto de Xcode
ios-app/AyeRecipes.xcodeproj/
ios-app/AyeRecipes.xcodeproj/**
ios-app/AyeRecipes.xcworkspace/
ios-app/AyeRecipes.xcworkspace/**
ios-app/xcuserdata/

# Ignorar archivos y carpetas ocultas
.*

# Permitir el propio .gitignore
!.gitignore